<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">

<title>Fresh Shop</title>

<th:block th:replace="~{Admin/Admin-style/Admin-template-css:: html}"></th:block>
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
	<!-- Start Main Top -->
	<div th:replace="~{Admin/Admin-fragment/Admin-header.html:: header}"></div>
	<!-- End Main Top -->

	<!-- Start Sidebar -->
	<div th:replace="~{Admin/Admin-fragment/Admin-sidebar.html:: aside}"></div>
	<!-- End Sidebar -->

	<main id="main" class="main">
		<!--Start Page Title-->
		<div class="pagetitle">
			<h1 th:text="#{table.tbMsgOpen}"></h1>

		</div>
		<!-- End Page Title -->

		<div class="">


			<div class="tab-content">
				<div class="tab-pane fade show active" id="tableOpen">
					<div class="row">
						<div class="col-lg-12">
							<div class="card pt-5">
								<div class="card-body">
									<div class="row pb-4">
										<form th:action="@{/admin/viewOpenMessage/1}" class="col-lg-10">
											<div class="row w-50">
												<div class="col-lg-11">
													<input type="text" name="searchName" th:value="${searchName}" class="form-control"
														placeholder="Customer Name"> <input type="hidden"
														th:value="${sortField}" name="sortField"
														class="form-control"> <input type="hidden"
														th:value="${sortDir}" name="sortDir" class="form-control">
												</div>
												<div class="col-lg-1">
													<button type="submit" class="btn btn-outline-primary"
														th:text="#{btnSearch}"></button>
												</div>
											</div>
										</form>
									</div>
									<!--                   <h5 class="card-title" th:text="#{table.tbMsgOpen}"></h5> -->
									<!-- Table with stripped rows -->
									<!--                   <div class="input-group mb-3 d-grid gap-2 d-md-flex justify-content-md-end"> -->
									<!--                     <label class="input-group-text" for="inputGroupSelect">Show -->
									<!--                       <select class="form-select ms-2" id="inputGroupSelect"> -->
									<!--                         <option value="1">10</option> -->
									<!--                         <option value="2">25</option> -->
									<!--                         <option value="3">50</option> -->
									<!--                         <option value="4">100</option> -->
									<!--                       </select> -->
									<!--                     </label> -->
									<!--                   </div> -->
									<table class="table table-striped">
										<thead class="table-success">
											<tr>
												<th class="sorting" th:text="#{table.name}" scope="col">
													<!--                         <a th:href="@{'/admin/viewOpenMessage/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}" th:text="#{table.name}"></a> -->
												</th>
												<!--                      <th class="sorting" scope="col">-->
												<!--                        <a th:href="@{'/admin/viewOpenMessage/' + ${currentPage} + '?sortField=mobileNum&sortDir=' + ${reverseSortDir}}">Mobile Num</a>-->
												<!--                      </th>-->
												<th class="sorting" th:text="#{email}" scope="col">
													<!--                         <a th:href="@{'/admin/viewOpenMessage/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}" th:text="#{email}"></a> -->
												</th>
												<th class="sorting" th:text="#{table.subject}" scope="col">
													<!--                         <a th:href="@{'/admin/viewOpenMessage/' + ${currentPage} + '?sortField=subject&sortDir=' + ${reverseSortDir}}" th:text="#{table.subject}"></a> -->
												</th>
												<th class="sorting" th:text="#{table.msg}" scope="col">
													<!--                         <a th:href="@{'/admin/viewOpenMessage/' + ${currentPage} + '?sortField=message&sortDir=' + ${reverseSortDir}}" th:text="#{table.msg}"></a> -->
												</th>
												<!--                       <th scope="col"></th> -->
											</tr>
										</thead>
										<tbody>
											<tr th:each="msg : ${listMsg}">
												<td th:text="${msg.name}"></td>
												<td th:text="${msg.email}"></td>
												<td th:text="${msg.subject}"></td>
												<td th:text="${msg.message}"></td>
												<!--                       <td> -->
												<!--                         <a th:href="@{'/admin/closeMsg?currentPage='+${currentPage}+'&sortField='+${sortField} +'&sortDir='+${sortDir} +'&msgId=' +${msg.contactId}}" class="btn btn-outline-danger me-2" th:text="#{table.close}"></a> -->
												<!--                       <td> -->
											</tr>
										</tbody>
									</table>
									<div class="pagination justify-content-center">
										<ul class="pagination" th:if="${totalPages} > 1">
											<li class="page-item"><a class="page-link"
												th:if="${currentPage > 1}"
												th:href="@{'/admin/viewOpenMessage/' + (${currentPage} - 1) + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&searchName=' + ${searchName}}">&laquo;</a>
												<span class="page-link disabled"
												th:unless="${currentPage > 1}">&laquo;</span></li>

											<li class="page-item"
												th:each="i: ${#numbers.sequence(1, totalPages)}"
												th:classappend="${currentPage == i} ? 'active' : ''"><a
												class="page-link"
												th:href="@{'/admin/viewOpenMessage/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&searchName=' + ${searchName}}">[[${i}]]</a>
											</li>

											<li class="page-item"><a class="page-link"
												th:if="${currentPage < totalPages}"
												th:href="@{'/admin/viewOpenMessage/' + (${currentPage} + 1) + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&searchName=' + ${searchName}}">&raquo;</a>
												<span class="page-link disabled"
												th:unless="${currentPage < totalPages}">&raquo;</span></li>
										</ul>
									</div>
									<!-- End Table with stripped rows -->
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<!--      Table Message-->

		<!--      table Close-->
		</section>
	</main>


	<a href="#"
		class="back-to-top d-flex align-items-center justify-content-center"><i
		class="bi bi-arrow-up-short"></i></a>

	<th:block th:replace="~{Admin/Admin-style/Admin-template-scr:: html}"></th:block>
</body>
</html>