<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<!-- Start Main Top -->
<header class="main-header">
    <!-- Start Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
        <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
                        aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.html"><img src="images/logo.png" class="logo" alt=""></a>
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="nav-item"><a class="nav-link" th:href="@{/home}" th:text="#{menu.home}"></a></li>
                    <li class="nav-item active" sec:authorize="hasRole('ROLE_ADMIN')"><a class="nav-link"
                                                                                         th:href="@{/admin/dashboard}" th:text="#{menu.admin}"></a>
                    </li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/about}" th:text="#{menu.about}"></a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/shop/page/1?cateId=all&&searchName=none}" th:text="#{menu.shop}"></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown" th:text="#{menu.language}"></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" id="englishLink" th:href="@{'?lang=en'}">
                                <img class="flag-icon img-fluid me-2" style="width:20px; height:20px" src="/images/us-flag.png" alt="US Flag">
                                English
                            </a>
                            <a class="dropdown-item" id="vietnameseLink" th:href="@{'?lang=vi'}">
                                <img class="flag-icon img-fluid" src="/images/vn-flag.png" style="width:20px; height:20px" alt="Vietnamese Flag">
                                Tiếng Việt
                            </a>
                        </div>
                    </li>


                    <li class="nav-item"><a class="nav-link" th:href="@{/contact-us}"  th:text="#{menu.contact}"></a></li>

                    <li class="dropdown" th:if="${session.loggingCustomer == null}">
                        <a class="nav-link dropdown-toggle arrow" data-toggle="dropdown"><i
                                class="fa-sharp fa-solid fa-users"></i></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" th:href="@{/login}" th:text="#{menu.login}"></a>
                            <a class="dropdown-item" th:href="@{/public/register}" th:text="#{menu.register}"></a>
                        </div>
                    </li>

                    <li class="dropdown" th:if="${session.loggingCustomer != null}">
                        <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">
                            <span th:text="#{menu.greeting}+', ' "></span><span th:text="${session.loggingCustomer.customerName}"></span>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" th:href="@{/profile}" th:text="#{menu.profile}"></a>
                            <a class="dropdown-item" th:href="@{/checkout}" th:text="#{menu.checkout}"></a>
                            <a class="dropdown-item" th:href="@{/order/completed}" th:text="#{menu.history}"></a>
                            <a class="dropdown-item" th:href="@{/logout}" th:text="#{menu.logout}"></a>

                        </div>
                    </li>
                    <a th:href="@{/viewCart}" class="nav-link" th:if="${session.loggingCustomer != null}">
                        <i class="fa fa-shopping-bag" style="font-size:20px;"></i>
                        <span class="badge" style="position:relative; top:-10px; color:red; font-size:14px;"
                              th:id="itemInCart" th:text="${session.itemInCart}"></span>
                    </a>


                </ul>
            </div>
            <!-- /.navbar-collapse -->

            <!-- Start Atribute Navigation -->

            <!-- End Atribute Navigation -->
        </div>
        <!-- Start Side Menu -->
        <div class="side">
            <a href="#" class="close-side"><i class="fa fa-times"></i></a>
            <li class="cart-box">
                <ul class="cart-list">
                    <li>
                        <a href="#" class="photo"><img src="images/img-pro-01.jpg" class="cart-thumb" alt=""/></a>
                        <h6><a href="#">Delica omtantur </a></h6>
                        <p>1x - <span class="price">$80.00</span></p>
                    </li>
                    <li>
                        <a href="#" class="photo"><img src="images/img-pro-02.jpg" class="cart-thumb" alt=""/></a>
                        <h6><a href="#">Omnes ocurreret</a></h6>
                        <p>1x - <span class="price">$60.00</span></p>
                    </li>
                    <li>
                        <a href="#" class="photo"><img src="images/img-pro-03.jpg" class="cart-thumb" alt=""/></a>
                        <h6><a href="#">Agam facilisis</a></h6>
                        <p>1x - <span class="price">$40.00</span></p>
                    </li>
                    <li class="total">
                        <a href="#" class="btn btn-default hvr-hover btn-cart">VIEW CART</a>
                        <span class="float-right"><strong>Total</strong>: $180.00</span>
                    </li>
                </ul>
            </li>
        </div>
        <!-- End Side Menu -->
    </nav>
    <!-- End Navigation -->
</header>

<!-- End Main Top -->
</html>