<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Basic -->

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Site Metas -->
<title>Fresh Shop</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">

<!-- Site Icons -->
<th:block th:replace="~{User/Style/template-css:: html}"></th:block>

<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body>
	<!-- Start Main Top -->
	<div th:replace="~{User/fragment/header.html :: header}"></div>
	<!-- End Main Top -->



	<!-- Start All Title Box -->
	<div class="all-title-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2 th:text="#{table.tbOrder}"></h2>

				</div>
			</div>
		</div>
	</div>
	<!-- End All Title Box -->

	<!-- Start Cart  -->
	<div class="cart-box-main" th:if="${listOrderDetailCompleted != null}">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-6">
					<div class="checkout-address">
						<div class="title-left">
							<h3>Billing Information</h3>
						</div>
						<form id="orderForm" class="needs-validation" action="/placeOrder">
							<div class="row"></div>
							<div class="mb-3">
								<label for="username">Name</label>
								<div class="input-group">
									<input type="text" class="form-control" id="username"
										th:value="${order.fullName}" readonly>
								</div>
							</div>
							<div class="mb-3">
								<label for="email">Email</label> <input type="email"
									class="form-control" id="email"
									th:value="${order.customer.email}" readonly>
							</div>
							<div class="mb-3">
								<label for="phoneNumber">Phone</label> <input type="text"
									class="form-control" id="phoneNumber"
									th:value="${order.phoneNumber}" readonly>
							</div>
							<div class="mb-3">
								<label for="address">Address</label> <input type="text"
									class="form-control" id="address" th:value="${order.address}"
									readonly>
							</div>
							<hr class="mb-4">
						</form>
					</div>
				</div>
				<div class="col-sm-6 col-lg-6 mb-3">
					<div class="row">
						<div class="col-md-12 col-lg-12"></div>
						<div class="col-md-12 col-lg-12">
							<div class="odr-box">
								<div class="title-left">
									<h3>Sample Cart</h3>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-lg-12">
							<div class="order-box">
								<!-- 								<hr class="my-1"> -->
								<div class="d-flex">
									<h4>Subtotal</h4>
									<div class="ml-auto font-weight-bold formatPrice"
										th:text="${order.totalAmount}">20.00</div>
								</div>
								<div class="d-flex">
									<h4>Discount (10%)</h4>
									<div class="ml-auto font-weight-bold formatPrice"
										th:text="${order.totalAmount}*0.1">0.00</div>
								</div>
								<hr class="my-1">
								<div class="d-flex">
									<h4>Shipping</h4>
									<div class="ml-auto font-weight-bold">Free</div>
								</div>
								<hr class="my-1">
								<div class="d-flex">
									<h4>Status</h4>
									<div class="ml-auto font-weight-bold" th:text="${order.status}">Waiting</div>
								</div>
								<hr class="my-1">
									<div class="d-flex">
									<h4>Forms of payment</h4>
									<div class="ml-auto font-weight-bold" th:text="${order.status1}">Waiting</div>
								</div>
								<hr>
								<div class="d-flex gr-total">
									<h5>Total</h5>
									<div class="ml-auto h5 formatPrice"
										th:text="${order.totalAmount}-${order.totalAmount}*0.1">20.00</div>
								</div>

								<hr>
							</div>
						</div>
						<div th:if="${order.status}=='Waiting'"
							class="col-12 d-flex shopping-box" onclick="submitForm()">
							<a th:href="@{/cancelOrder/{orderId}(orderId=${order.orderId})}"
								class="ml-auto btn btn-danger">Cancel Order</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="table-main table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th th:text="#{table.img}"></th>
									<th th:text="#{table.productName}"></th>
									<th th:text="#{table.price}"></th>
									<th th:text="#{table.quantity}"></th>
									<th th:text="#{table.total}"></th>
									<th th:text="#{table.date}"></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="od : ${listOrderDetailCompleted}">

									<td class="thumbnail-img"><img
										th:src="${od.product.product_img}"
										style="height: 70px; width: 70px;" alt="Product Image">
									</td>
									<td class="name-pr" th:text="${od.product.productName}"></td>
									<td><span class="price-pr formatPrice"
										th:text="${od.product.price}"></span>/1Kg</td>
									<td class="price-pr" th:text="${od.quantity}"></td>
									<td class="formatPrice"
										th:text="${od.product.price * od.quantity}"></td>
									<td class="formatDate" th:text="${od.createdAt}"></td>

								</tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="cart-box-main text-center">
		<div class="mb-3">
			<a th:href="@{/shop/page/1?cateId=all&&searchName=none}"
				class="btn hvr-hover" th:text="#{btnContinue}"></a>
		</div>
	</div>

	<!-- End Cart -->

	<!-- End Instagram Feed  -->


	<!-- Start Footer  -->
	<div th:replace="~{User/fragment/footer.html :: footer}"></div>

	<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

	<th:block th:replace="~{User/Style/template-scr:: html}"></th:block>

	<script>
		// Hàm xử lý định dạng giá trị và gán lại vào phần tử
		function formatAndSetPrice() {
			// Lặp qua tất cả các phần tử có class 'product-price'
			$('.formatPrice').each(
					function() {
						// Lấy giá trị từ phần tử b
						var priceElement = $(this);
						var currentPrice = priceElement.text();

						// Định dạng giá trị theo hàng nghìn (ví dụ)
						var formattedPrice = Number(currentPrice)
								.toLocaleString('vi-VN', {
									style : 'currency',
									currency : 'VND',
									minimumFractionDigits : 0,
									maximumFractionDigits : 0
								});

						// Gán lại giá trị vào phần tử
						priceElement.text(formattedPrice);
					});
		}

		// Lấy tất cả các phần tử có class là 'formatDate'
		var dateElements = document.querySelectorAll('.formatDate');

		// Định dạng ngày tháng năm cho mỗi phần tử
		dateElements.forEach(function(element) {
			// Lấy giá trị ngày tháng từ textContent của phần tử
			var dateValue = element.textContent;

			// Chuyển đổi giá trị ngày tháng sang đối tượng Date
			var date = new Date(dateValue);

			// Định dạng ngày tháng năm theo định dạng Việt Nam
			var formattedDate = date.toLocaleString('vi-VN', {
				timeZone : 'Asia/Ho_Chi_Minh'
			});

			// Gán lại giá trị đã định dạng vào textContent của phần tử
			element.textContent = formattedDate;
		});

		// Gọi hàm khi trang đã tải xong
		$(document).ready(function() {
			formatAndSetPrice();
			formatAndSetDate();
		});
	</script>

</body>

</html>